<!-- <h1>一個同名的檢視</h1> -->

<!-- 
<h1 #h1>123</h1>

<ng-template #temp>
  <p>我是模板</p>
</ng-template>

<ng-container #ct> 我是container </ng-container>
 -->

<!-- <h1>多個同名的檢視</h1> -->

<!-- <h1 #h1>123</h1>
<p #h1>456</p>
<div #h1>789</div>

<ng-template #temp>
  <p>我是模板1</p>
</ng-template>

<ng-template #temp>
  <p>我是模板2</p>
</ng-template>

<ng-template #temp>
  <p>我是模板3</p>
</ng-template>

<ng-container #ct> 我是container1 </ng-container>
<ng-container #ct> 我是container2 </ng-container>
<ng-container #ct> 我是container3 </ng-container> -->
